<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
    <title>Drone Shoot Recommender</title>
</head>
<body>
    <main>
        <h1>Drone Shoot Recommender</h1>
        <p>This simple app will allow you to choose a location on a map and it will give you places, that could be interesting to shoot in the area you select.</p>
        <div id="map"></div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>